---
# Crash Course Python for Data Science  - Intro to Pandas
---
# 01 - Loading Data
---

## STOP! BEFORE GOING ANY FURTHER...  

Remember, this exercises are open book, open neighbour, open everything! Try to do them on your own before looking at the solution samples.

### Import pandas with the `pd` alias.

In [26]:
import pandas as pd
print('pandas imported!')

pandas imported!

### Import the data in the CSV file.
Today you'll be working with some GDP data. You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv).

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv")

### Print out the first 7 rows.

In [28]:
### YOUR CODE GOES HERE ###
df[:7]

   Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND
5           5          Angola          131.40  AGO
6           6        Anguilla            0.18  AIA

### Print out the last 3 rows.

In [29]:
### YOUR CODE GOES HERE ###
df[-3:]

     Unnamed: 0    COUNRY  GDP (BILLIONS) CODE
219         219     Yemen           45.45  YEM
220         220    Zambia           25.61  ZMB
221         221  Zimbabwe           13.74  ZWE

### What is the shape of the DataFrame?

In [30]:
### YOUR CODE GOES HERE ###
df.shape

(222, 4)

### What is the data type of each column/feature?
Hint: We didn't cover this, Google it!  

Hint 2: Columns and features are interchangeable when talking about DataFrames or tabular data in general.

In [31]:
### YOUR CODE GOES HERE ###
type(df['CODE'])

pandas.core.series.Series

### Rename the column `Counry` to `Country`.

In [32]:
### YOUR CODE GOES HERE ###
df.rename(columns={'COUNRY': 'COUNTRY'}, inplace=True)

### Verify the change persisted!

In [33]:
### YOUR CODE GOES HERE ###
df

     Unnamed: 0         COUNTRY  GDP (BILLIONS) CODE
0             0     Afghanistan           21.71  AFG
1             1         Albania           13.40  ALB
2             2         Algeria          227.80  DZA
3             3  American Samoa            0.75  ASM
4             4         Andorra            4.80  AND
..          ...             ...             ...  ...
217         217  Virgin Islands            5.08  VGB
218         218       West Bank            6.64  WBG
219         219           Yemen           45.45  YEM
220         220          Zambia           25.61  ZMB
221         221        Zimbabwe           13.74  ZWE

[222 rows x 4 columns]

### Well done!
---

The question below is _optional_. Only tackle it after you've completed the rest of the exercise!

### STRETCH: Tying it back to Lesson 01...

*  What is the max GDP?
*  Min GDP?
*  Median GDP?
*  Standard Deviation of GDP?

In [37]:
### YOUR CODE GOES HERE ###
print(df["GDP (BILLIONS)"].max())
print(df["GDP (BILLIONS)"].min())
print(df['GDP (BILLIONS)'].median())
print(df['GDP (BILLIONS)'].std())
print(df.sort_values(by=['GDP (BILLIONS)']))

17420.0
0.01
21.525
1464.8555325721697
     Unnamed: 0                            COUNTRY  GDP (BILLIONS) CODE
148         148                               Niue            0.01  NIU
206         206                             Tuvalu            0.04  TUV
66           66  Falkland Islands (Islas Malvinas)            0.16  FLK
106         106                           Kiribati            0.16  KIR
6             6                           Anguilla            0.18  AIA
..          ...                                ...             ...  ...
70           70                             France         2902.00  FRA
75           75                            Germany         3820.00  DEU
101         101                              Japan         4770.00  JPN
42           42                              China        10360.00  CHN
211         211                      United States        17420.00  USA

[222 rows x 4 columns]