---
# Crash Course Python for Data Science - Intro to Pandas 
---
# 03 - Cleaning Data 
---

### Cleaning data is an *integral part of being a data scientist*  
In most contexts, the data you'll be using to generate insights will not be perfect. Far from it. There will be missing values. There will be incorrect values. There could be duplicate values. Columns could have data types that break your code. There could be outliers that mess things up. You may even need to merge data from different sources to do a thorough analysis. Fortunately, pandas has some really powerful methods for cleaning your data. Which is good news, because most data scientists tend to spend the bulk of their time cleaning data before they can analyze it.  

*In other words, you clean your data in order to prepare it for analysis and model-building.*

### Begin by importing your tools

In [0]:
# Let's begin by importing pandas
import pandas as pd
print('pandas imported!')

## Reading in your data

In [0]:
# We use the pandas method pandas.read_csv("filepath") to create a DataFrame 
# and assign it to a variable:

df = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/gdpmessy.csv", index_col=0)

## Quick inspection of the data

In [0]:
# We'll use the head() method, which by default prints out the first 5 rows. I 
# want to look at the first 10 rows:
df.head(10)

In [0]:
# Then the tail method. Also for 10 values.
df.tail(10)

In [0]:
# We're supposed to have 222 observations (rows) and 3 columns. Let's check:

df.shape

In [0]:
# A great way to get an overview of our data:
df.info()

**We've got some missing values! We'll address that in a minute. First, let's fix our duplicate index and rename our columns something useful and consistent.**

## Duplicate index
**Remember how we dealt with this a few exercises ago, as we were learning about loading data?**

In [0]:
df.columns

In [0]:
# We need to drop the first column (axis = 1) and do it in place:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [0]:
df.head()

## Column names

**We also covered how to rename columns. But we only showed you how to rename one at a time:**  


*   `COUNRY` should be spelled correctly
*   `gdp` is lowercase and should also communicate scale
*   `CODE` has an trailing space in it  


**Here's how we'd do it one by one:**

`df.rename(columns={'COUNRY':'COUNTRY'}, inplace=True)`  
`df.rename(columns={'gdp':'GDP (BILLIONS)'}, inplace=True)`  
`df.rename(columns={'CODE ':'CODE'}, inplace=True)`

**But that's not Pythonic. Let's try and change all of these column names at once.**

In [0]:
# Pandas has a way to select columns because it treats them as an index object:
df.columns

# Notice that "CODE " has an empty space after the last character. This happens!

In [0]:
df['CODE ']

In [0]:
df.columns = ["COUNTRY", "GDP_BILLIONS", "CODE"]

In [0]:
df.columns

# Done.

In [0]:
list(df.columns)

In [0]:
df.head()

In [0]:
df['GDP_BILLIONS']

## Missing values?
We noticed immediately that we had some missing values to deal with. Every feature has at least one missing value (nulls).

In [0]:
# Pandas has a nifty tool to check for null values. For now, you can think of 
# nulls as missing values. 

df.isnull()

In [0]:
# Ok, but scrolling throuh 222 rows looking for "True" sounds awful. There has 
# to be a better way, right? There is. Remember the sum function?

df.isnull().sum()

# Six targets. Let's take them one at a time. Starting with "Country".

In [0]:
# We'll subset our data by choosing ALL the rows that have missing values.

df[df.isnull().any(axis=1)]

**Let's say we were able to identify the actual values that belong in the DataFrame as follows:**



*   Algeria has an Alpha-3 code of DZA
*   Andorra has a GDP of 4.80 billion
*   Azerbaijan has an Alpha-3 code of AZE
*   Aruba has a GDP of 2.52 billion
*   Belize has a GDP of 1.67 billion
*   Angola is the missing 'COUNTRY' value  


We'll use the pandas [at() method to handle this.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html)

In [0]:
# We specify the row index, the column name, and the value we'd like to assign to it:
df.at[2, "CODE"] = "DZA"
df.at[4, "GDP_BILLIONS"] = 4.80
df.at[5, "COUNTRY"] = "Angola"
df.at[10, "GDP_BILLIONS"] = 2.52
df.at[13, "CODE"] = "AZE"
df.at[20, "GDP_BILLIONS"] = 1.67

In [0]:
df.isnull().sum()

In [0]:
df.head(10)

## Less obvious things:
We checked for missing values, but now we need to worry about duplicate or incorrect values. Let's look for duplicates.  

We'll use the `value_counts()` method, sorted to see where any values appear more than once. The `head()` at the end of the chain limits our output to five observations to keep things manageable. If any of them have multiple values beyond the first five observations, we'll expand the head until we account for all duplicates.

In [0]:
df["COUNTRY"].value_counts(sort=True).head()

That one's good to go. No duplicates (we wouldn't expect any here).

In [0]:
df["GDP_BILLIONS"].value_counts(sort=True).head(5)

Ok. Several duplicates. But we'd expect some in GDP since we're using billions and only two decimal places. In terms of preparing our data, next steps here would be to double-check those values with official records. Alternatively, we could add decimal places for greater precision.

In [0]:
df["CODE"].value_counts(sort=True).head()

This one's dangerous. Like `COUNTRY` we wouldn't expect any duplicate values here, but we've got two. Let's see what's going on:

In [0]:
df[df['CODE'] == "VGB"]

So there's the British Virgin Islands and the American Virgin Islands. The latter has an A-3 code of VIR, not VGB. Let's fix it:

In [0]:
df.at[217, "CODE"] = "VIR"

In [0]:
df[df['CODE'] == "HKG"]

Hungary is supposed to be HUN. Let's change it:

In [0]:
df.at[90, "CODE"] = "HUN"

To be thorough, let's make sure our changes didn't create any new duplicates in the `CODE` column:

In [0]:
df["CODE"].value_counts(sort=True).head()

## Even less obvious things

In [0]:
df.sort_values(by='GDP_BILLIONS', ascending=False).head(10)

Clearly, Vanuatu isn't the 3rd largest economy in the world. Its GDP is actually supposed to be 0.82 billion.

In [0]:
df.at[214, "GDP_BILLIONS"] = 0.82

In [0]:
df[df['CODE'] == 'BGD']



---


## That was a lot of new stuff. Remember to practice with the exercise!